<ul class="collection">
<li class="collection-item"><%= link_to "Create a New Client", new_client_url %></li>
<li class="collection-item"><%= link_to "View All Clients", clients_url %></li>
<li class="collection-item"><%= link_to "View Clients without Case Manager Assignments", clients_unassigned_url %></li>
</ul>